<div class="modal fade" id="guideModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">

      <h4>入力ガイド</h4>

      <p>
        ・タイトルを書く<br>
        ・日付を選ぶ<br>
        ・カテゴリを選ぶ<br>
        ・選択肢を1つ以上入力する<br>
        ・最終決断で1つ選んで決断する<br>
        ・決断理由を入力する<br>
        ・感情を選ぶ<br>
        ・作成する
      </p>

      <%= button_to "理解した",
      complete_guide_path,
      method: :post,
      form: { data: { turbo: false } },
      class: "btn btn-primary w-100" %>

    </div>
  </div>
</div>
