.timeline {
  position: relative;
  margin-left: 20px;
  padding-left: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #dee2e6;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot {
  position: absolute;
  left: -31px;   /* ← ここを変更 */
  top: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0d6efd;
}

.timeline-item .card {
  margin-left: 25px;
}

.timeline-item::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 28px;
  width: 40px;
  height: 2px;
  background: #dee2e6;
}

@media (max-width: 768px) {
  .timeline {
    margin-left: 0;
    padding-left: 24px;
  }

  .timeline::before {
    left: 6px;
  }

  .timeline-dot {
    left: -25px;
    top: 23px;
    width: 12px;
    height: 12px;
  }

  .timeline-item::after {
  left: -13px;
  width: 31px;
}

  .timeline-item .card {
    margin-left: 18px;
  }
  .card-body {
    padding: 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1rem;
  }
}
