<p>LifeBranchnにご登録いただきありがとうございます。</p>

<p>パスワード再設定をご希望の場合は、下記リンクから設定してください。</p>

<p>
  <%= link_to "パスワードを再設定する",
  edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>このメールに心当たりがない場合は破棄してください。</p>
