<div class="d-flex flex-column justify-content-center align-items-center min-vh-100">

  <h1 class="mb-3">LifeBranch</h1>

  <p class="text-muted mb-4">
    あなたの決断を記録するアプリ
  </p>

  <div class="d-flex gap-3">

    <%= link_to "ログイン",
          new_user_session_path,
          class: "btn btn-outline-primary px-4" %>

    <%= link_to "新規登録",
          new_user_registration_path,
          class: "btn btn-primary px-4" %>

  </div>

</div>
